:root {
  --main-color: burlywood;
  --deep-color: rgb(202, 133, 42);
  --main-text-color: black;
  --deep-text-color: white;
  --sep-color: rgba(88, 88, 88, 0.472);
  --well-color: rgba(187, 140, 78, 0.596);
}