:root {
  --main-color: cornflowerblue;
  --deep-color: rgb(32, 88, 194);
  --main-text-color: black;
  --deep-text-color: white;
  --sep-color: rgba(88, 88, 88, 0.472);
  --well-color: rgba(76, 113, 180, 0.562);
}