:root {
  --main-color: rgb(224, 114, 75);
  --deep-color: rgb(221, 75, 22);
  --main-text-color: black;
  --deep-text-color: white;
  --sep-color: rgba(226, 226, 226, 0.829);
  --well-color: rgba(216, 88, 42, 0.644);
}