:root {
  --main-color: salmon;
  --deep-color: rgb(192, 50, 34);
  --main-text-color: black;
  --deep-text-color: white;
  --sep-color: rgba(88, 88, 88, 0.472);
  --well-color: rgba(214, 90, 76, 0.808);
}