:root {
  --main-color: rgb(36, 36, 36);
  --deep-color: rgb(92, 92, 92);
  --main-text-color: white;
  --deep-text-color: white;
  --sep-color: rgba(199, 199, 199, 0.897);
  --well-color: rgba(138, 138, 138, 0.52);
}